
		ul{  list-style-type:none; /*establece el marcador que muestra cada elemento de las listas */
		  
		    } 
           #all-menu  {
			   width:auto; /* ancho.*/  
			  height: 68px; /*especifica la altura del area de contenido.*/
			  background-color:#0f71ba;/*define el color de fondo.*/
                  
		   }#hola{ 
			  margin:25px;/*establece el margen para los cuatro lados.*/
			  width:50%;  
			  height:50px;
			
			  font-size:25px;/*especifica la dimensión de la letra.*/
			  font-family:verdana;/*el tipo de letra o familia de tipos de letra*/
		   }#menu li a{ 
			 font-family:verdana; 
			 font-size:15px; 
			 float:left;  /*posiciona una caja moviéndola todo lo posible a la izquierda o derecha*/
			 padding:24px; /*establece el espacio de relleno requerido por todos los lados de un elemento*/
			 background-color:#0f71ba; 
			 color: #fff;  /*da color*/
			 text-decoration:none;  /* se usa para establecer el formato de texto a subrayado*/
			 height:18px;            
			 }
			
		   
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
88