P{ 
   }
   body{color:green;
   	font-size: 15px;
   }
 span{
 	color:green;
 	font-family: cursive;
 	font-size: 30px;

 	color:blue;
   	font-size: 20px;
 
 
 tabla{
 	color:;
 	font-family: cursive;
 	font-size: 30px;
 }