ul{
				list-style:none;
			}
			#header .nav > li { 
				float:left;
			}
			
			.nav li a {
				background-color:#E933FF;
				color:#fff;
				text-decoration:none;
				padding:25px 30px;
				display:block;
			}
			
			.nav li a:hover {
				background-color:#E933FF;
			}
			
			.nav li ul {
				display:none;
				position:absolute;
				min-width:140px;

			}
			
			.nav li:hover > ul {
				display:block;
			}
			
			
			
			
		
		}